.animation{
    font-family: monospace;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 2rem;
    font-weight: bold;
    position: fixed;
}
body{
  background-color: #F3D5C8;
  }
.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #F3D5C8;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer a{
  color: #A78D8A;
  text-align: center;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background: #eee;
  display: flex;
  box-sizing: border-box;
}

.btn, .btn-primary .btn-learn
{
  background-color: #E5E3DE !important;
  color: black !important;
  outline: black !important;
}
.btn-learn:hover, .btn-learn:active, .btn-learn:focus
{
  color: #F4D5C9 !important;
  text-decoration: none !important;
}
