.App {
  text-align: center;
  background-color: #DADACF !important;
}
body{
  background-color: #DADACF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #A78D8A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #F4D5C9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo{
  height: 75px;
  width: 200px;
}

.navbar{
  background-color: #E5E3DE;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100% !important;
}

.homeimg {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.btn, .btn-primary .btn-learn
{
  background-color: #E5E3DE !important;
  color: black !important;
  outline: black !important;
}
.btn-learn:hover, .btn-learn:active, .btn-learn:focus
{
  color: #483330 !important;
  text-decoration: none !important;
}

.contact-icons{
  color: #A78D8A
}
.linked-in social, .github social, .instagram social, .youtube social
{
  color:#A78D8A
}